#include <zephyr/dt-bindings/gpio/gpio.h>

/ {
    zephyr,user {
        io-channels = <&adc 0>;
    };

    fsr_sensor: fsr_4xx {
        compatible = "fsr_4xx";
        io-channels = <&adc 0>;
        resolution = <12>;
        status = "okay";
    };
};

&i2c0 {
    status = "okay";

    vl53l1x0: vl53l1x@29 {
        compatible = "vl53l1x_st";
        reg = <0x29>;
        int-gpios = <&gpio0 10 GPIO_ACTIVE_LOW>;
        threshold-mm = <70>;
        intermeasurement-period-ms = <80>;
        sample-window-ms = <3000>;
        status = "okay";
    };
};